<div class="jumbotron">
  <h1><i class="fa fa-circle-o-notch"></i> Tarefas</h1>
  <p>Aplicativo de tarefa, com Framwork Ruby on Rails</p>
  <%=link_to 'Sign up', new_user_registration_path, class:"btn btn-primary btn-lg" %>
</div>